.venv/
__pycache__/
.pytest_cache/
.coverage
htmlcov/
build/
dist/
*.spec
data/
.env
.env.*
!.env.example
*.key
*.pem
*.log
*.png
!img/img_demo_v0.3.4.png
*.jpg
*.jpeg
.idea/
.vscode/
*.user
*.suo
Thumbs.db
.DS_Store
